version: 2

updates:
  - package-ecosystem: "maven"
    directory: "/server"
    schedule:
      interval: "monthly"
    target-branch: "develop"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    target-branch: "develop"
